<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% extends 'base.html' %}
    <title>{% block title %} -Registration {% endblock %}</title>
</head>
<body>
{% block content %}
<div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8 panel panel-default">
            <div class="alert alert-info">정보를 입력해주세요.</div>
                <form action="" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <label for="nickname">nickname</label>
                <input type="text" class="form-control" name="nickname" id="nickname">
                <label for="email">이메일</label>
                <input type="email" class="form-control" name="email" id="email">
                <label for="password">비밀번호</label>
                <input type="password" class="form-control" name="password" id="password">
                <label for="confirm_password">비밀번호 확인</label>
                <input type="password" class="form-control" name="confirm_password" id="confirm_password">
                <input class="btn btn-primary" type="submit" value="가입하기">
            </form>
            <br><br><br>
        </div>
        <div class="col-md-2"></div>
</div>
{% endblock %}
</body>
</html>